/* Styles.css */
.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    color: #007bff;
    text-decoration: underline;
}

.flash-messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flash-message {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
}
