<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/images/header.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-image"></div>
    <header>
        <div class="top-line"></div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"></nav>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a href="{{ url_for('home') }}" class="logo-link">
                    <img src="{{ url_for('static', filename='../static/images/logo.png') }}" alt="See-Say Cameroon logo" class="logo logo-small">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="position: fixed; top: 10px; right: 100px;">
                    <p>Current Time: <span id="current-time"></span></p>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('report_form') }}">Report An Incident</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('recent_reports') }}">Recent Reports</a>
                        </li>
                        
                    </ul>
                    <div class="flash-container">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class="flash-messages">
                            {% for message in messages %}
                            <li class="flash-message">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        <script>
                            setTimeout(function() {
                            var flashMessages = document.querySelectorAll('.flash-message');
                            flashMessages.forEach(function(message) {
                                message.style.display = 'none';
                            });
                            }, 5000);
                        </script>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h3>Explore See-Say</h3>
          <ul>
            <li><a href="{{ url_for('home') }}" style="color: rgb(0, 0, 0);">Home</a></li>
            <li><a href="{{ url_for('recent_reports' )}}" style="color: rgb(0, 0, 0);">Recent Reports</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Contact</h3>
          <ul>
            <li><a href="https://github.com/FabPaul/" target="_blank" style="color: rgb(0, 0, 0);"></i> GitHub</a></li>
            <li><a>paulfopa0@gmail.com</a></li>
            <li><a>(+237) 620 777 147</a></li>
            <li>Limbe, Southwest Region, Cameroon</li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Social Media</h3>
          <ul class="social-media-links">
            <li><a href="https://twitter.com/FabPaul1" target="_blank" style="color: rgb(0, 0, 0);"></i> X</a></li>
            <li><a href="https://www.linkedin.com/in/fopa-paul-0bb08410b/" target="_blank" style="color: rgb(0, 0, 0);"></i> LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        &copy; 2024 See-Say Cameroon
      </div>
    </footer>
    <script>
        function updateTime() {
            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            var meridiem = (hours < 12) ? "AM" : "PM";
            hours = (hours > 12) ? hours - 12 : hours;
            hours = (hours === 0) ? 12 : hours;
            minutes = (minutes < 10 ? "0" : "") + minutes;
            seconds = (seconds < 10 ? "0" : "") + seconds;
            var timeString = hours + ":" + minutes + ":" + seconds + " " + meridiem;
            document.getElementById('current-time').innerHTML = timeString;
        }
        setInterval(updateTime, 1000);
    </script>
</body>
</html>
