<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/images/header.png') }}">

</head>
<body>
    <header>
        <div class="top-line"></div>
        <div class="header-content">
            <a href="{{ url_for('home') }}" class="logo-link">
                <img src="{{ url_for('static', filename='../static/images/logo.png') }}" alt="See-Say Cameroon logo" class="logo">
                <h1>See-Say Cameroon</h1>
            </a>
            <nav></nav>
            <nav>
                <ul>
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('report_form') }}">Report Incident</a></li>
                  <li><a href="{{ url_for('recent_reports') }}">Recent Reports</a></li>
                  {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  {% endif %}
                </ul>
              </nav>
        </div>
    </header>
        <div>
        {% block content %}{% endblock %}
    </div>
    <footer >
            &copy; 2024 See-Say Cameroon | Paul Fopa | paulfopa0@gmail.com
    </footer>
    <script>
        function updateTime() {
            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            var meridiem = (hours < 12) ? "AM" : "PM";
            hours = (hours > 12) ? hours - 12 : hours;
            hours = (hours === 0) ? 12 : hours;
            minutes = (minutes < 10 ? "0" : "") + minutes;
            seconds = (seconds < 10 ? "0" : "") + seconds;
            var timeString = hours + ":" + minutes + ":" + seconds + " " + meridiem;
            document.getElementById('current-time').innerHTML = timeString;
        }
        setInterval(updateTime, 1000);
    </script>
</body>
</html>