{% extends "base.html" %}

{% block title %}See-Say Cameroon{% endblock %}

{% block content %}
  <style>
    h1 {
        margin-top: 4cm;
    }
  </style>
  <h1>Explore Cameroon's Finest Attractions</h1>
  <div class="image-grid">
    {% for place in places %}
    <div class="image-card">
      <a href="{{ place['link'] }}" target="_blank">
        <img src="{{ url_for('get_image', filename=place['image']) }}" alt="{{ place['name'] }}">
      </a>
      <div class="image-details">
        <h3><b>{{ place['name'] }}</b></h3>
        <p>{{ place['description'] }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
