{% extends "base.html" %}

{% block title %}See-Say Cameroon{% endblock %}

{% block content %}
    <h1>Welcome to See-Say Cameroon, your number One incident report platform {{ current_user.username }}!</h1>
    <style>
        h1 {
            margin-top: 4cm;
        }
    </style>
    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    <div class="image-grid">
    {% for place in places %}
      <a href="{{ place.link }}">  <img src="{{ url_for('static', filename='images/' + place.image) }}" alt="{{ place.name }}">
        <div class="info">
          <b>{{ place.name }}</b>  <p>{{ place.description }}</p>  </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
