{% extends 'base.html' %}

{% block title %}See-Say Cameroon{% endblock %}

{% block content %}
    <h1> Submit a Report </h1>
    {% with message =  get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form action="/report" method="post">
        <label for="incident_type">Incident Type:</label>
        <select name="incident_type" id="incident_type" required>
            <option value="Security">Security</option>
            <option value="Harassment">Harassment</option>
            <option value="Infrastructure">Infrastructure</option>
            <option value="weather">Weather Condition</option>
            <option value="gaz">Fuel shortage</option>
            <option value="power">Power Supply</option>
            <option value="Other">Other</option>
        </select><br>
        <label for="details">Details:</label><br>
        <textarea name="details" id="details" required></textarea><br>
        <label for="location">Location: </label><br>
        <input type="text" id="location" name="location"><br>
        <label for="status">Status:</label><br>
        <select id="status" name="status" required>
            <option value="pending" selected>Pending</option>
            <option value="investigating">Under Investigation</option>
            <option value="resolved">Resolved</option>
        </select><br>
        <button type="submit">Submit Report</button>
    </form>
    {% if crsf_token %}
    <input type="hidden" name="crsf_token" value="{{ crsf_token }}">
    {% endif %}
{% endblock %}
